.slide{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;

    &__title{
        font-weight: 400;
        color: #3877EE;
    }

    &__content{
        font-size: 20px;
    }
}
