.dates {
  display: flex;
  gap: 100px;
  width: 100%;
  justify-content: center;
  margin-top: 3rem;
  z-index: 1;
  position: relative;

  &__item {
    font-weight: 700;
    font-size: 200px;

    &_purple{
        color: #5D5FEF;
    }
    &_pink{
        color: #EF5DA8;
    }
  }
}
