@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.item {
  position: absolute;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  transition: all 0.5s ease;
  transition-property: transform, opacity, width, height, scale, background-color;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
  background-color: #42567a;

  &__label{
    position: absolute;
    right: -70px;
    font-weight: 700;
    opacity: 0; /* Изначально элемент невидим */
    animation: fadeIn 0.5s ease-out 0.7s forwards;
  }
}

.item[data-active="true"] {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f5f9;
  border: 1px solid #303e5880;
  width: 56px;
  height: 56px;
}
