.container {
    width: 1400px;
    margin-left: 320px;
    margin-right: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-inline: 1px solid #E3E6ED;
    box-sizing: border-box;
    padding-top: 170px;
    position: relative;
    &::before{
        content: "";
        width: 1px;
        height: 100%;
        background-color: #E3E6ED;
        position: absolute;
        left: 50%;
        top: 0;
    }
}

.title{
    font-weight: 700;
    font-size: 56px;
    line-height: 62px;
    padding-left: 78px;
    position: relative;
    margin: 0;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        width: 5px;
        height: 100%;
        background-image: linear-gradient(to bottom, #3877EE, #EF5DA8);
    }
}